@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Quicksand:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Quicksand, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    max-width: 2000px;
    margin: 0 auto;
}

/* headings & logo */

h1,
h2 {
    font-family: Quicksand, sans-serif;
    letter-spacing: 7px;
    color: #252525;
    text-align: center;
}

#logo {
    font-size: 290%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*navigation links */

#menu {
    font-size: 140%;
    letter-spacing: 7px;
    display: flex;
    justify-content: center;
    padding: 0;
    width: 100%;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
}

#menu li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0 70px;
    
}

#menu a {
    text-decoration: none;
    color: #3a3a3a;
}

#menu a:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}

#active {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}

/*hero image */

#hero-image {
    height: 700px;
    width: 100%;
    background: url("../images/hero-image.jpg") no-repeat center center;
}

/*hero image text */

#cover-text,
#cover-text h2 {
    color: white;
}

#cover-text {
    font-family: Quicksand, sans-serif;
    font-size: 250%;
    letter-spacing: 14px;
    padding-top: 350px;
    height: 100px;
}

/* goals */

#goals {
    height: 700px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 20px;
}

#goals h1 {
    margin-top: 10px;
}

#top-goal {
    padding-top: 30px;
}

#top-goal p {
    line-height: 26pt;
}

#middle-goal {
    padding-top: 30px;
}

#middle-goal p {
    line-height: 26pt;
}

#bottom-goal {
    padding-top: 30px;
}

#bottom-goal p {
    line-height: 26pt;
}

.top-goal-heading {
    letter-spacing: 7px;
    margin-bottom: 10px;
}

.middle-goal-heading {
    letter-spacing: 7px;
    margin-bottom: 10px;
}

.bottom-goal-heading {
    letter-spacing: 7px;
    margin-bottom: 10px;
}

hr {
    border-top: 2px solid #3a3a3a;
    width: auto;
    margin: 5px 0;
}

/* course section */

#courses div {
    color: white;
    background-color: #3a3a3a;
}

#courses div h2 {
    background-color: white;
    padding: 5px 9px;
    text-decoration: none;
    font-size: 16px;
    border: solid white;
    opacity: .8;
}

#courselist {
    margin-top: 40px;
}

#course-1 {
    background: url('../images/compost.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    line-height: 40pt;
    width: 25%;
    height: 300px;
    float: left;
    position: relative;
}

#course-2 {
    background: url('../images/bee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-3 {
    background: url('../images/foraging.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-4 {
    background: url('../images/flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-5 {
    background: url('../images/growyourown.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-6 {
    background: url('../images/soil.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-7 {
    background: url('../images/mushroom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

#course-8 {
    background: url('../images/bonsai.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    line-height: 40pt;
    text-align: center;
    width: 25%;
    height: 300px;
    float: left;
}

.course-button {
    background-color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border: white;
    border-radius: 5px;
    opacity: .8;
    position: relative;
    bottom: -130px;
    right: 20px;
    
}

/*course form */

input[type=text], input[type=tel], input[type=email] {
width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=submit] {
background-color: white;
padding: 15px 32px;
    text-decoration: none;
    font-size: 16px;
    border: solid #3a3a3a;
    border-radius: 5px;
    padding-top: 10px;
    opacity: .8;
    position: relative;
    right: -90px;
    cursor: pointer;
}

#tree-details {
    padding-left: 12px;
    padding-bottom: 5px;
}

#tree-selection {
padding: 20px;
}


label {
    padding-left: 15px;
    font-size: 25px;;
}

#course-selection {
    padding-right: 40px;
}

/* footer */

footer {
    height: 150px;
}

footer ul {
    text-align: center;
}

footer ul li {
    display: inline-block;
    text-decoration: none;
    list-style-type: none;
    margin: 0 70px;
}

footer a {
    font-size: 140%;
        letter-spacing: 7px;
        display: flex;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 0;
}

footer a:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
        #goals {
                height: 1800px;
                width: 45%;
                margin-left: 20%;
                margin-right: 20%; 
        margin-top: 60px;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 0;
}

footer a:hover {
    background: #e1e1e1;
    border-top: 1px solid #d0d0d0;
}



/* MEDIA QUERIES */

@media screen and (max-width: 1200px) {
        #goals {
                height: 1800px;
                width: 45%;
                margin-left: 20%;
                margin-right: 20%; 
                #menu {
                    font-size: 140%;
                    letter-spacing: 7px;
                    display: block;
                    justify-content: center;
                    padding: 0;
                    width: 100%;
                    margin-top: 150px;
                    margin-left: auto;
                    margin-right: auto;
                    text-align: center;
                    margin-bottom: 0;
                }
        
                #menu li {
                    display: block;
                    text-decoration: none;
                    list-style-type: none;
                    margin: 0 70px;
        
                }
}


@media screen and (max-width: 900px) {
    #goals {
        height: 1600px;
        width: 45%;
        margin-left: 20%;
        margin-right: 20%;
    }

    #menu {
        font-size: 140%;
        letter-spacing: 7px;
        display: block;
        justify-content: center;
        padding: 0;
        width: 100%;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-bottom: 0;
    }

    #menu li {
        display: block;
        text-decoration: none;
        list-style-type: none;
        margin: 0 70px;

    }

        #menu {
            font-size: 140%;
            letter-spacing: 7px;
            display: block;
            justify-content: center;
            padding: 0;
            width: 100%;
            margin-top: 150px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            margin-bottom: 0;
        }
    
        #menu li {
            display: block;
            text-decoration: none;
            list-style-type: none;
            margin: 0 70px;
    
        }

    
}
